$pageWidth: 800px;
$mobileBreakpoint: 600px; //was 600
$tabletBreakpoint: 1000px; //was 1000
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 800;
$semiBoldWeight: 700;
$normalWeight: 400;
